.buy {
    padding: 150px 0 0;
    &__inner {
        display: flex;
        align-items: center;
        gap: 90px;
        @media (max-width: 1230px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__content {
        width: 510px;
        position: relative;
        @media (max-width: 1230px) {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 50px;
        color: var(--hover-color);
    }

    &__list {
        margin-bottom: 25px;
    }

    &__item {
        margin-bottom: 25px;
        width: 285px;
        @media (max-width: 1230px) {
            width: 100%;
            max-width: 600px;
        }

        &:hover &-title {
            color: var(--hover-color);
        }
        &-title {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
            transition: color 0.3s ease;
        }
    }

    &__btn {
        font-family: "Comfortaa", cursive;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 40px;
        line-height: 45px;
        background-color: transparent;
        border: 2px solid var(--hover-color);
        color: var(--hover-color);
        cursor: pointer;
        padding: 18px;
        text-align: center;
        max-width: 484px;
        width: 100%;
        transition: all 0.3s ease;
        &:hover {
            color: var(--font-color);
            background-color: var(--hover-color2);
            border-color: var(--hover-color2);
        }
    }

    &__price {
        position: absolute;
        right: 0;
        bottom: 130px;
        width: 201px;
        height: 199px;
        font-weight: 700;
        font-size: 35px;
        line-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        @media (max-width: 1230px) {
            pointer-events: none;
        }
        @media (max-width: 840px) {
            bottom: auto;
            top: -350px;
        }
        @media (max-width: 500px) {
            width: 170px;
            height: 168px;
            background-size: cover;
            top: -185px;
        }

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    &__img {
        @media (max-width: 1230px) {
            order: -1;
            max-width: 100%;
        }
    }
}
