.header {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    position: relative;

    &__top {
        display: flex;
        align-items: center;
        padding: 57px 0;
        gap: 100px;
        justify-content: flex-end;
        font-family: "Comfortaa", cursive;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        @media (max-width: 720px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 90px;
        }
    }

    &__btn {
        text-transform: uppercase;
        color: #fff;
        padding: 12px 71px;
        background-color: #262c27;
        border: none;
        cursor: pointer;
        &:hover {
            color: var(--font-color);
            background-color: var(--hover-color2);
            border-color: var(--hover-color2);
        }
        @media (max-width: 720px) {
            width: 70%;
        }
    }

    // &__phone {
    //     &:hover {
    //         font-size: 24px;
    //         line-height: 27px;
    //     }
    // }

    &__content {
        min-height: calc(100vh - 161px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        @media (max-width: 513px) {
            z-index: 5;
        }
        &-box {
            max-width: 550px;
            text-align: center;
            margin-right: 30px;
            color: var(--font-color2);
            font-family: "Comfortaa", cursive;
            font-weight: 700;
            @media (max-width: 720px) {
                margin-right: 0px;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 64px;
        line-height: 71px;
        @media (max-width: 375px) {
            font-size: 55px;
            line-height: 60px;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    &__decor-text {
        position: absolute;
        bottom: 10px;
        color: var(--hover-color);
        @media (max-width: 513px) {
            display: none;
        }

        &--one,
        &--two {
            font-family: "Comfortaa", cursive;
            font-size: 130px;
            line-height: 145px;
            opacity: 0.3;
        }
        &--one {
            z-index: 1;
            right: 145px;
            bottom: 100px;
        }
        &--two {
            z-index: 4;
            left: 265px;
            bottom: -10px;
            @media (max-width: 1230px) {
                left: 0;
            }
        }
        &--three {
            max-width: 360px;
            right: 145px;
            z-index: 4;
            font-style: italic;
            font-weight: 300;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }
    }
}
