.info {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 180px;
    &::before {
        content: "";
        position: absolute;
        height: 180px;
        background-color: var(--font-color);
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-180px);
        z-index: 1;
    }

    &__top {
        display: flex;
        gap: 80px;
        padding-top: 100px;
        margin-bottom: 65vh;
        &-text {
            padding-top: 245px;
            width: 290px;
            color: var(--font-color2);
            position: relative;

            &--one {
                padding-bottom: 125px;
            }

            &--two {
                border-bottom: 1px solid var(--font-color2);
            }
        }
        &-img {
            position: relative;
            z-index: 6;
        }
    }

    &__btn {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
