@import "reset";
@import "header";
@import "logo";
@import "info";
@import "popup";
@import "buy";
@import "technology";
@import "gallery";
@import "footer";

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-image: url("@img/header_bg.jpg");
    &::before {
        content: "";
        position: absolute;
        background-image: url("@img/header_decor.svg");
        bottom: 0;
        left: 0;
        right: 0;
        height: 456px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(45%);
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        background-image: url("@img/header_decor.svg");
        bottom: 0;
        left: 0;
        right: 0;
        height: 456px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(93%) rotate(180deg);
        z-index: 3;
    }
}

.info {
    background-image: url("@img/info_bg.jpg");
}

.buy__price {
    background-image: url("@img/star.svg");
}

.technology__top {
    background-image: url("@img/technology.png");
}
.title {
    font-size: 60px;
    line-height: 67px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Comfortaa", cursive;
}
