.technology {
    margin-bottom: 150px;
    @media (max-width: 1000px) {
        margin-bottom: 50px;
    }
    &__top {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &-inner {
            position: relative;
            min-height: 110vh;
        }

        &-box {
            position: absolute;
            left: 0;
            bottom: 70px;
        }
    }

    &__btn {
        right: 350px;
        top: 50vh;
        @media (max-width: 720px) {
            right: 50px;
            top: 40vh;
        }
    }

    &__title {
        max-width: 470px;
        margin-bottom: 62px;
        @media (max-width: 414px) {
            font-size: 32px !important;
            line-height: 36px !important;
            margin-bottom: 32px;
        }
    }

    &__list {
        padding-left: 20px;

        &-item {
            padding-left: 24px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 15px;
        }
    }
}
